	<nav class="navbar navbar-inverse">
	  <div class="container-fluid">	 
	    <ul class="nav navbar-nav"  style="font-size:20px;">
	      <li><a href="#"><span class="glyphicon glyphicon-home"></span> </a></li>
	      <li><a href="#">HTML</a></li>
	      <li><a href="#">CSS</a></li>
	      <li><a href="#">JAVASCRIPT</a></li>
	      <li><a href="#">SQL</a></li>
	      <li><a href="#">PHP</a></li>
	      <li><a href="#">BOOTSTRAP</a></li>
	      <li><a href="#">JQUERY</a></li>
	      <li >
    			<a data-toggle="dropdown" href="#">
    				MORE
    				<span class="caret"></span>
  				</a>
	        <ul class="dropdown-menu" style ="font-size:20px;"  >			          
	          <li>
          		<a data-toggle="dropdown-menu-2" href="#">
          			HTML and CSS
	        			<span class="caret"></span>
        			</a>
			        <ul class="dropdown-menu-2" style ="font-size:20px;">
          			<li> <a href="#">Learn HTML </a> </li>
<!-- 		          			<li> <a href="#">Learn CSS </a> </li>
          			<li> <a href="#">Learn W3.CSS </a> </li>
          			<li> <a href="#">Learn Colors </a> </li>
          			<li> <a href="#">Learn Bootstrap </a> </li>
          			<li> <a href="#">Learn Graphics </a> </li>
          			<li> <a href="#">Learn Icons </a> </li>
          			<li> <a href="#">Learn How To </a> </li> -->
          		</ul>
	          </li>

	          <li><a href="#">Server Side</a></li>
	        </ul>
	      </li>	    
	      <li><a href="#">REFERENCE</a></li>
	      <li><a href="#">EXAMPLE</a></li>
	      <li><a href="#"><span class="glyphicon glyphicon-transfer"></a></li>
	      <li><a href="#"><span class="glyphicon glyphicon-search"></a></li>
	    </ul>
	    
	  </div>
	</nav>
